.dark-mode {
   background-color: var(--mineShaft);
   padding: 103px 0 160px;
   transition-duration: 0.3s;
   color: var(--white);
}

.dark-mode__header {
   margin-bottom: 36px;
   text-align: center;
}

.dark-mode__title {
   color: inherit;
   margin-bottom: 14px;
   margin-top: 5px;
}

.dark-mode__title span {
   color: var(--westSide);
}

.dark-mode__subtitle {
   max-width: 578px;
   color: inherit;
   margin: 0 auto;
}

.dark-mode__img-block {
   max-width: 600px;
   border-bottom: 2px solid;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.dark-mode__image {
   width: 400px;
}

.dark-mode__toggle-block {
   width: 250px;
   margin: 0 auto;
   padding-top: 41px;
   display: flex;
   justify-content: space-between;
}

.dark-mode__btn {
   color: inherit;
   text-transform: uppercase;
}

.dark-mode__btn span {
   display: block;
   margin-top: 5px;
   letter-spacing: 2px;
   font-size: 14px;
}

.dark-regime.dark-mode {
   background-color: var(--mineShaft);
   color: var(--white);
}

.dark-regime .dark-btn {
   color: var(--westSide);
}

.dark-regime .dark-btn svg path {
   fill: var(--westSide)
}

.dark-regime .dark-mode__img-block {
   border-color: var(--white);
}

.light-regime.dark-mode {
   background-color: var(--white);
   color: var(--mineShaft);
}

.light-regime .light-btn {
   color: var(--westSide);
}

.light-regime .light-btn svg path {
   fill: var(--westSide)
}

.light-regime .dark-mode__img-block {
   border-color: var(--mercury);
}


@media (max-width: 750px) {
   .dark-mode__image {
      width: 300px;
   }

   .dark-mode {
      padding: 80px 0;
   }
}

@media (max-width: 450px) {
   .dark-mode__image {
      width: 270px;
   }
}