.download {
   padding: 100px 0 140px;
   text-align: center;
}

.download__title {
   margin-top: 5px;
   margin-bottom: 14px;
}

.download__subtitle {
   max-width: 589px;
   margin: 0 auto;
   padding-bottom: 25px;
}

.download__link {
   display: inline-block;
}

@media (max-width: 750px) {
   .download {
      padding: 80px 0;
   }
}


