.features {
   background-color: var(--mineShaft);
   padding: 100px 0;
}

.features__title {
   color: var(--white);
   max-width: 495px;
   margin: 0 auto;
   text-align: center;
}

.features__name {
   color: var(--white);
   margin-bottom: 5px;
   text-align: center;
}

.features__content {
   margin-top: 45px;
}

.features__icon {
   position: absolute;
   top: 259px;
   left: 50%;
   transform: translateX(-50%);
}

.features__list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 15px;
}

.features__item {
   width: 379px;
   position: relative;
   background-color: var(--white);
   border-radius: 20px;
   text-align: center;
   overflow: hidden;
}

.features__item-top {
   height: 293px;
   overflow: hidden;
   padding-top: 40px;
}

.features__item-bottom {
   background-color: var(--concrete);
   padding: 48px 0 40px;
   height: 100%;
}

.features__item-title {
   font-size: 24px;
   margin-bottom: 17px;
}

.features__item-text {
   line-height: 22px;
   width: 286px;
   font-size: 15px;
   margin: 0 auto;
}

.features__item-image {
   width: 227px;
}

@media (max-width: 420px) {
   .features__item {
      width: 290px;
   }

   .features__item-text {
      font-size: 14px;
      width: 250px;
   }

   .features__item-title {
      font-size: 20px;
   }
}