.footer {
   padding: 125px 0;
}

.footer__content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.footer__networks {
   margin-top: 27px;
   display: flex;
   width: 106px;
   justify-content: space-between;
}

@media (max-width: 750px) {
   .footer {
      transform: scale(0.8);
      padding: 70px 0;
   }
}