.modal {
   width: 506px;
   margin: 30px auto;
}

.modal__overlay {
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.35);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 100;
}

.modal__inner {
   padding: 38px 88px 57px;
   position: relative;
   opacity: 1;
   text-align: center;
   background-color: var(--white);
   border-radius: 4px;
   color: var(--black);
}

.modal__block {
   position: relative;
}

.modal__title {
   width: 312px;
   margin-bottom: 42px;
   font-size: 20px;
   line-height: 30px;
}

.modal__close-btn {
   position: absolute;
   right: -65px;
   top: -15px;
}

.form__input-block {
   margin-bottom: 15px;
}

.input-warning{
   font-size: 12px;
   color: var(--outrageousOrange);
   text-align: left;
   display: block;
}

.form__input {
   width: 100%;
   padding: 11px 17px;
   border-radius: 4px;
   background-color: var(--concrete);
   border: 2px solid transparent;
   margin-bottom: 5px;

}

.form__input.wrong-field {
   background-color: var(--fairPink);
}

.form__input:focus {
   border: 2px solid var(--malibu);
}

.form__btn {
   margin-top: 16px;
   padding: 11px 65px;
}

.form__loading-block {
   display: none;
   padding-top: 30px;
   width: 125px;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.form__loading-text {
   color: var(--gray);
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: 2px;
}

.form__loading-icon {
   animation-duration: 0.7s;
   animation-name: loading;
   animation-iteration-count: infinite;
}

.plan {
   margin-top: 20px;
   margin-bottom: 35px;
}

.plan__item input {
   display: none;
}

.plan__item label {
   width: 100%;
   position: relative;
   cursor: pointer;
   display: inline-block;
   margin-bottom: 11px;
   padding: 11px 15px;
   border: 1px solid;
   border-radius: 4px;
   text-transform: capitalize;
}

.plan__item_low-price {
   border-color: var(--azureRadiance);
   color: var(--azureRadiance);
}

.plan__item_middle-price {
   border-color: var(--outrageousOrange);
   color: var(--outrageousOrange);
}

.plan__item_high-price {
   border-color: var(--westSide);
   color: var(--westSide);
}

.plan__item input:checked + label:before {
   content: '';
   left: 15px;
   top: 14px;
   width: 20px;
   height: 16px;
   position: absolute;
   background-image: url("../../img/check.svg");
}

.plan__item_low-price input:checked + label {
   color: var(--white);
   background-color: var(--azureRadiance);
   border-color: var(--azureRadiance);
}

.plan__item_middle-price input:checked + label {
   color: var(--white);
   background-color: var(--outrageousOrange);
   border-color: var(--outrageousOrange);
}

.plan__item_high-price input:checked + label {
   color: var(--white);
   background-color: var(--westSide);
   border-color: var(--westSide);
}

.plan__title {
   margin-bottom: 11px;
}

.questionnaire {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.questionnaire__list {
   margin-top: 23px;
}

.questionnaire__item {
   display: flex;
   align-items: center;
   text-align: left;
   margin-bottom: 15px;
}

.questionnaire__item input {
   display: none;
}

.questionnaire__item label {
   width: 25px;
   height: 25px;
   display: inline-block;
   border: 2px solid var(--azureRadiance);
   border-radius: 4px;
   cursor: pointer;
   margin-right: 19px;
}

.questionnaire__item input:checked + label{
   background-image: url("../../img/checkbox.svg");
   background-repeat: no-repeat;
   background-position: 0.5px 2px;
}


@keyframes loading {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(180deg);
   }
}


@media (max-width: 750px) {
   .modal__inner {
      padding-right: 60px;
      padding-left: 60px;
   }

   .modal {
      width: 400px;
   }

   .modal__title {
      width: 200px;
      margin: 0 auto 46px;
      font-size: 16px;
   }

   .modal__close-btn {
      right: -40px;
   }
}

@media (max-width: 425px) {
   .modal {
      width: 310px;
      font-size: 14px;
   }

   .modal__inner {
      padding: 38px 40px 57px;
   }

   .modal__close-btn {
      right: -25px;
      top: -20px;
   }

   .questionnaire__item {
      font-size: 13px;
   }

   .modal__title {
      font-size: 15px;
      margin: 0 auto 30px;
   }

   .input-warning {
      font-size: 11px;
   }
}

