.modal {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.35);
   position: absolute;
   top: 0;
   left: 0;
}

.modal__inner {
   width: 506px;
   padding: 38px 88px 57px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 1;
   text-align: center;
   background-color: var(--white);
   border-radius: 4px;
   color: var(--black);
}

.modal__block {
   position: relative;
}

.modal__title {
   width: 312px;
   margin-bottom: 42px;
   font-size: 20px;
   line-height: 30px;
}

.modal__close-btn {
   position: absolute;
   right: -65px;
   top: -15px;
}

.form__input {
   width: 330px;
   padding: 11px 17px;
   border-radius: 4px;
   background-color: var(--concrete);
}

.form__input:first-child {
   margin-bottom: 17px;
}

.form__btn {
   margin-top: 16px;
   padding: 11px 65px;
}

.plan {
   margin-top: 23px;
   margin-bottom: 42px;
}

.plan__item input {
   display: none;
}

.plan__item label {
   width: 330px;
   position: relative;
   cursor: pointer;
   display: inline-block;
   margin-bottom: 11px;
   padding: 11px 15px;
   border: 1px solid;
   border-radius: 4px;
   text-transform: capitalize;
}

.plan__item_low-price {
   border-color: var(--azureRadiance);
   color: var(--azureRadiance);
}

.plan__item_middle-price {
   border-color: var(--outrageousOrange);
   color: var(--outrageousOrange);
}

.plan__item_high-price {
   border-color: var(--westSide);
   color: var(--westSide);
}

.plan__item input:checked + label:before {
   content: '';
   left: 15px;
   top: 14px;
   width: 20px;
   height: 16px;
   position: absolute;
   background-image: url("../../img/check.svg");
}

.plan__item_low-price input:checked + label {
   color: var(--white);
   background-color: var(--azureRadiance);
   border-color: var(--azureRadiance);
}

.plan__item_middle-price input:checked + label {
   color: var(--white);
   background-color: var(--outrageousOrange);
   border-color: var(--outrageousOrange);
}

.plan__item_high-price input:checked + label {
   color: var(--white);
   background-color: var(--westSide);
   border-color: var(--westSide);
}

.plan__title {
   margin-bottom: 11px;
}


.questionnaire {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.questionnaire__list {
   margin-top: 23px;
}

.questionnaire__item {
   display: flex;
   align-items: center;
   text-align: left;
   margin-bottom: 15px;
}

.questionnaire__item input {
   display: none;
}

.questionnaire__item label {
   width: 25px;
   height: 25px;
   display: inline-block;
   border: 2px solid #0278ED;
   border-radius: 4px;
   cursor: pointer;
   margin-right: 19px;
}

.questionnaire__item input:checked + label{
   background-image: url("../../img/checkbox.svg");
   background-repeat: no-repeat;
   background-position: 0.5px 2px;
}

