.speed-security{
   padding-top: 100px;
   height: 645px;
   overflow: hidden;
}

.speed-security__content {
   padding-top: 77px;
}

.speed-security__inner {
   display: flex;
   justify-content: space-between;
   padding: 0 100px 0 78px;
}

.speed-security__title {
   width: 409px;
   margin-top: 5px;
}

.speed-security__text {
   width: 403px;
   margin-top: 15px;
   line-height: 24px;
   color: var(--doveGray);
}

.speed-security__image {
   width: 376px;
}