.testimonials {
   background-color: var(--concrete);
   padding: 103px 0 100px;
}

.testimonials__header {
   text-align: center;
}

.testimonials__subtitle {
   margin: 11px 0 41px;
}

.testimonials__list {
   display: flex;
   justify-content: space-between;
}

.comment {
   max-width: 379px;
   min-height: 224px;
   background-color: var(--white);
   padding: 30px;
   border-radius: 20px;
   line-height: 24px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.comment__author {
   margin-bottom: 3px;
   margin-top: 5px;
}

.comment__author-proffession {
   font-size: 14px;
}

@media (max-width: 1185px) {
   .comment {
      transform: scale(0.95)
   }
}

@media (max-width: 750px) {
   .testimonials {
      padding: 60px 0;
   }

   .testimonials__list {
      flex-direction: column;
      align-items: center;
   }
}
