.timer {
   background-image: url("../../../src/img/timer_bg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: var(--white);
   display: flex;
   justify-content: center;
   padding: 60px 0 78px;
}

.timer__inner {
   text-align: center;
}

.timer__title {
   letter-spacing: 1.1px;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 50px;
}

.timer__subtitle {
   text-transform: lowercase;
   font-weight: 700;
   font-size: 30px;
   margin-top: 15px;
   letter-spacing: 1.5px;
   margin-bottom: 25px;
}

.timer__list {
   display: flex;
   justify-content: space-between;
   width: 730px;
   font-size: 100px;
}

.timer__item {
   text-align: center;
   width: 20%;
}

.timer__item b {
   font-weight: 700;
   font-size: 24px;
   display: block;
   margin-top: 10px;
}

@media (max-width: 780px) {
   .timer__subtitle {
      font-size: 20px;
   }

   .timer__title {
      font-size: 35px;
   }

   .timer__list {
      font-size: 70px;
      width: 500px;
   }

   .timer__item b {
      font-size: 18px;
   }
}

@media (max-width: 535px) {
   .timer__list {
      font-size: 30px;
      width: 80%;
      margin: 0 auto;
   }

   .timer__subtitle {
      font-size: 22px;
   }

   .timer__title {
      font-size: 28px;
   }

   .timer__item b {
      font-size: 12px;
   }
}
