/*colors*/

:root {
   --mineShaft: #222;
   --westSide: #ff9209;
   --doveGray: #666;
   --white: #fff;
   --outrageousOrange: #ff5437;
   --azureRadiance: #0278ed;
   --malibu: #5ab0ff;
   --tundora: #4e4e4e;
   --mercury: #e5e5e5;
   --black: #000;
   --brilliantRose: #E738CE;
   --robinsEggBlue: #00c6df;
   --heliotrope: #b25df8;
   --alabaster: #fafafa;
   --concrete: #f2f2f2;
}