@import '_normalize.css';
@import '_variables.css';
@import '_global.css';
@import '_overall.css';

/*components*/
@import 'components/_header.css';
@import 'components/_timer.css';
@import 'components/_first.css';
@import 'components/_features.css';
@import 'components/_statistics.css';
@import 'components/_technology.css';
@import 'components/_speed-sequrity.css';
@import 'components/_dark-mode.css';
@import 'components/_pricing.css';
@import 'components/_testimonials.css';
@import 'components/_download.css';
@import 'components/_faq.css';
@import 'components/_footer.css';